article.performance {
  width: auto;
  height: auto;
  position: relative;
}

article.performance figure {
  width: 100%;
  height: 100%;
  background-color: #282D30;
  border-radius: 5px;
  margin: 0;
}

article.performance .angleAxis {
  margin-top: 25px;
}
