.nav-side {
    background-color: black;
    position: fixed;
    width: 99px;
    left: 0;
    top: 90px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-side nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 100%;
    gap: 50px;
}